<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>BakeHouse Workshop</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/style.css">

    <!-- Bootstrap scripts -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- google fonts -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">

    <!-- Fontawesome icons -->

    <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" data-auto-replace-svg="nest"></script>
</head>

<body>
    <!-- Navbar -->
    <!-- <h1>hello world</h1> -->

    <nav class="navbar navbar-expand-lg navbar-light bg-ligh">

        <div class="container">
            <!-- Brand -->
            <a class="navbar-brand" href="#">
                <img class="caro_img" src="static/photos/filename.jpg" alt="">
            </a>

            <!-- Toggler/collapsibe Button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

            <!-- Navbar links -->
            <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item ord">
                        <a class="nav-link" href="#">HOME</a>
                    </li>
                    <li class="nav-item ord">
                        <a class="nav-link" href="#workshop">WORKSHOPS</a>
                    </li>
                    <li class="nav-item ord">
                        <a class="nav-link" href="#contact">CONTACT</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/attendee">
                            <button type="button" class="btn btn-dark">ATTENDEES</button>
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </nav>


    <!-- Carousal -->

    <div id="slides" class="carousel slide" data-ride="false">

        <ol class="carousel-indicators">
            <li data-target="#slides" data-slide-to="0" class="active"></li>
            <li data-target="#slides" data-slide-to="1"></li>
            <li data-target="#slides" data-slide-to="2"></li>
        </ol>

        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <img src="static/photos/pots-vegetables-harvest.jpg" alt="">
                <div class="carousel-caption mycaption text-left" style="margin-left: 6.5%;">
                    <h1 class="head">learn baking and cake decoration</h1>

                    <a href="#workshop">
                        <button type="button" class="btn btn-light btn-lg learn">LEARN MORE</button>
                    </a>
                </div>
            </div>

            <div class="carousel-item">
                <img src="static/photos/front-view-sweet-bakery-arrangement-with-copy-space.jpg" alt="">
                <div class="carousel-caption mycaption text-left" style="margin-left: 6.5%;">
                    <h1 class="head">Learn from comfort of your home with<br> Online Workshops</h1>
                    <a href="#workshop">
                        <button type="button" class="btn btn-light btn-lg learn">LEARN MORE</button>
                    </a>
                </div>
            </div>

            <div class="carousel-item">
                <img src="static/photos/frying-pan-empty-with-various-spices-black-table.jpg" alt="">
                <div class="carousel-caption mycaption text-left" style="margin-left: 6.5%;">
                    <h1 class="head">Upgrade your skills of <br>baking and cake decoration</h1>
                    <a href="#workshop">
                        <button type="button" class="btn btn-light btn-lg learn">LEARN MORE</button>
                    </a>
                </div>
            </div>

        </div>
    </div>

    </section>

    <div id="workshop">

        <div class="product-details">

            <h1>BAKING WORKSHOP</h1>
            <span class="hint-star star">
		<i class="fa fa-star" aria-hidden="true"></i>
		<i class="fa fa-star" aria-hidden="true"></i>
		<i class="fa fa-star" aria-hidden="true"></i>
		<i class="fa fa-star" aria-hidden="true"></i>
		<i class="fa fa-star-o" aria-hidden="true"></i>
	</span>
            <p class="information">Hello. I'm Harsh Jain, a food blogger, author and food stylist from Delhi, India. Welcome to Bake With Harsh, where I'll help you create magic in your kitchens with my simple recipes.</p>
            <a href="/register">
                <button type="button" class="btn btn-dark learn">REGISTER NOW</button>
            </a>
        </div>

        <div class="product-image">

            <img src="static/photos/side-view-lule-kebab-with-tomato-paper-ayran-hand-adds-spices-serving-board.jpg" alt="">

        </div>

    </div>




    <!-- Footer -->
    <section id="contact">
        <!-- Footer -->

        <div class="footer container text-center">

            <div class="row">
                <div class="col-md-4">
                    <h6 class="col-head">ADDRESS</h6>
                    <h6 class="col-sub-head">Lorem ipsum dolor, 234</h6>
                    <h6 class="col-sub-head">1200 Consecutive</h6>
                    <h6 class="col-sub-head">Adipiscing</h6>
                </div>

                <div class="col-md-4">
                    <h6 class="col-head">FOLLOW US</h6>
                    <div class="icons d-flex flex-wrap justify-content-center">
                        <i class="fab fa-behance"></i>
                        <i class="fab fa-twitter"></i>
                        <i class="fab fa-linkedin-in"></i>
                        <i class="fab fa-facebook-f"></i>
                        <i class="fab fa-google-plus-g"></i>
                        <i class="fab fa-tumblr"></i>
                    </div>
                </div>

                <div class="col-md-4">
                    <h6 class="col-head">CONTACT US</h6>
                    <h6 class="col-sub-head">+123 456 789</h6>
                    <h6 class="col-sub-head">bakerHouse@skype</h6>
                    <h6 class="col-sub-head">enquiry@bakerHouse.com</h6>
                </div>
            </div>

        </div>
    </section>

    <script src="templates/custom.js" async defer></script>
</body>

</html>